.logo{height:2.5rem;
}


.heading {
  text-align: center;
  background-color:#ffff1a;
}

.heading h1{margin-top: 0;
margin-bottom: 0;}


.navbar {
  background-color: GREY;
  padding: 8px;
}

.selficon {
  border-radius: 50%;
  height: 35px;
}

header.navbar{padding-top: 0;
padding-bottom: 0;}

li.nav-item {
  padding-left: 10px;
  padding-right: 10PX;
  color: white;
  border-style: solid;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;

}

li.nav-item:hover {
  background-color: Black;
}
li.nav-item a{color:white;}
li.selected-main-list{background-color:dodgerblue;}
.mainbody{
  margin-top: 10px;
}

/* ---home page content------------------------------------------------------- */
.index-card
{margin: 5px;}
.index-cardicon{float: left;
  margin-left: 10px;
  margin-right: 10px;
height:100px;
}
.card-text{font-size: 1rem;}

/* GMP SITE -------------------------------------------------------------------- */
/* GMP startegy ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.mainbody{padding-left: 5px;}
.gmp-index{position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
background-color:yellow;}
.btn-secondary{background-color:grey;
border-color:#ff66ff
color:black;}
.panel-title{
  background-color: lightgrey;
}

#stra{
padding: 10px;}
.list-c1{list-style-type: square;}
  .list-c2{list-style-type: disc;}
    .list-c3{list-style-type: circle;}
